:root{
    --claro:#1de9b6;
    --verde: #00897b;
    --amarillo: #ffcc24;
    --amarilloDarker:#ffab00;
}

body{
    background-color: rgb(11, 20, 0);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-image: url(../img/4back790682821.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    text-align: center;
}

#logo{
    margin:8em auto 2em auto;
    width:25%;
}

/* ===== SEARCH BAR INGREDIENTES ===== */

input{
    color:white!important;
    font-size: 16px;
}

.formContainer, .input-field{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 2em;
} 



.input-field label{
 color: var(--amarillo);
}

.input-field input[type=text]{
    border-bottom: 1px solid var(--amarillo);
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--claro)!important;
}

.input-field input[type=text]:focus + label {
    color: var(--claro)!important;
  }


#addIngredients{
background-color: var(--amarillo);
color:white;
border: 1px solid var(--amarillo);
border-radius: 6px;
height: 30px;
line-height: 30px;
padding:0 6px;
text-transform: none;
}

/*@media screen and (max-width:540px){
    .childFlexSearch{
        flex-basis: 0;
       flex-grow:1;
       width:100%;
    }
}*/

#addIngredients:hover{
    background-color: var(--amarilloDarker);
    border: 1px solid var(--amarilloDarker);
    transition: ease-in-out 0.3s;
}

#addIngredients:active{
    color:white;
    background-color:var(--verde);
    border: 1px solid var(--verde);
    transition: ease-in-out 0.3s;
}




/*===== ROW 3 CHIPS ===== */

.chipsRow{
    display:flex;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 4em;
}

.chip{
    background-color: var(--claro);
    color:var(--verde);
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    border-radius: 6px;
}

.chip .close{
    line-height: 28px;
    font-size: 14px;
    padding-left: 10px;
    text-shadow: none;
    color: var(--verde);
    opacity:0.8;
}

/* ===== CARDS RECIPES ===== */

.card{
    background-color:var(--verde);
    padding:0!important;
}


.card .card-content{
    padding:6px;

}

.card .card-content .card-title{
    color: var(--amarillo);
    font-size: 18px;
    font-weight: bold;
}

.card-content{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.cardTitle{
    width:100%;
    clear: both;
    margin-bottom: 10px;
}

.card .card-content p{
    text-align: left;
    color:white;
    font-weight: 200;
}

.card .card-content p i{
    color:var(--claro);
    margin-right: 3px;
    font-weight: 200;
}

.card .card-reveal{
    padding:16px 12px;
}

.card-reveal .card-title{
    color: var(--verde);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;

}

.yields{
    color:var(--verde);
    margin-bottom: 20px;
    border-bottom: 1px solid var(--amarillo);
}

.card-reveal .card-title i{
    color:var(--amarillo);
}

.btn-small{
    background-color:var(--amarillo);
    opacity: 1!important;
    color:var(--verde)!important;
    border-radius: 8px;
    text-transform: none;
    font-size: 16px;
}
.btn-small:hover{
    background-color: var(--claro);
}


ul{
    list-style-type:disc!important;
}

ul li {
    list-style-type: disc!important;
    margin-left:18px;
    color: gray;
    font-size: 16px;
}


/* ===== MEDIA QUERIES ===== */

@media only screen and (max-width: 767px) {
    body {
        background-image: url(../img/mobile-back.jpg);
    }
    #logo{
        margin:0 auto;
        width:40%;
    }
    .container{
        width:100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}